*.o
*.la
*.lo
Makefile
Makefile.in
.libs
stamp-h1
m4/*.m4
*.pc
config.h
config.h.in
config.log
missing
ltmain.sh
libtool
install-sh
*.spec
doc/*.dox
config.sub
configure
depcomp
config.status
config.guess
README
aclocal.m4
autom4te.cache

