Source: evas
Section: gui
Priority: optional
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Uploaders: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>= 6), cdbs, pkg-config, automake, libtool, libeet-dev (>= 1.1.0), libeina-dev (>= 0.0.2.63-1), libfreetype6-dev, libpng12-dev | libpng-dev, zlib1g-dev, libjpeg62-dev, libxcb1-dev, libxcb-image0-dev, libxcb-render0-dev, libpixman-1-dev, libgif-dev, libfontconfig1-dev
Standards-Version: 3.8.2
Homepage: http://www.enlightenment.org
XCS-Cross-Host-Build-Depends: debhelper (>= 6), cdbs, cdbs-embedded, pkg-config, automake, libtool
XCS-Cross-Build-Depends: libeet-dev (>= 1.1.0), libeina-dev (>= 0.0.2.63-1), libfreetype6-dev, libpng12-dev | libpng-dev, libz1-dev, libjpeg62-dev, libxcb1-dev, libxcb-image0-dev, libxcb-render0-dev, libpixman-1-dev, libgif-dev, libfontconfig1-dev
XS-Vcs-Git: git://git.iplinux.org/evas.git
XS-Vcs-Browser: http://git.iplinux.org/evas.git

Package: libevas-svn-05
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libevas0
Conflicts: libevas0
Description: Enlightenment DR17 advanced canvas library
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 .
 This package contains the core library and a set of image loaders and/or savers
 for various formats: eet, gif, jpeg, png, svg, tiff and xpm

Package: libevas-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libevas-svn-05 (= ${binary:Version}), libeina-dev (>= 0.0.2.063-1), libfontconfig1-dev, libpng12-dev, libeet-dev, libxcb1-dev, libxcb-image0-dev, libpixman-1-dev, libfreetype6-dev
Description: Enlightenment DR17 advanced canvas library development files
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 Due to its simple API, evas can be developed with rapidly, and cleanly.
 .
 This package provides headers and static libraries required to develop against
 evas.

Package: libevas-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}, libevas-svn-05 (= ${binary:Version})
Priority: extra
Description: enlightenment advanced canvas library
 Evas is an advanced canvas library, providing six engines for rendering: X11,
 OpenGL (hardware accelerated), DirectFB, the framebuffer, Microsoft Windows
 and Qtopia.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.
