#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

DEB_CONFIGURE_SCRIPT := ./autogen.sh
DEB_MAKE_CLEAN_TARGET := distclean
CFLAGS += -fvisibility=hidden -ffast-math
LDFLAGS += -fvisibility=hidden

DEB_DH_STRIP_ARGS := --dbg-package=libevas-dbg

ifeq (amd64,$(DEB_HOST_ARCH))
	arch_flags += --enable-cpu-sse
endif

DEB_CONFIGURE_EXTRA_FLAGS := $(arch_flags) --disable-rpath \
	--disable-doc \
	--enable-fontconfig \
	--enable-fribidi \
	--disable-evas-cserve \
	--enable-buffer=static \
	--disable-software-xlib \
	--disable-xrender-x11 \
	--disable-gl-x11 \
	--enable-software-xcb=static \
	--enable-software-8-x11=static \
	--enable-static-software-8 \
	--disable-xrender-xcb \
	--disable-software-sdl \
	--disable-fb \
	--disable-directfb \
	--disable-software-16-x11 \
	--enable-static-software-generic \
	--disable-image-loader-edb \
	--enable-image-loader-eet=static \
	--disable-font-loader-eet \
	--enable-image-loader-gif \
	--enable-image-loader-jpeg \
	--disable-image-loader-pmaps \
	--enable-image-loader-png=static \
	--disable-image-loader-svg \
	--disable-image-loader-tiff \
	--enable-image-loader-xpm \
	--disable-pthreads \
	--disable-pipe-render \
	--disable-async-events \
	--disable-async-preload \
	--enable-cpu-c \
	--disable-evas-magic-debug \
	--enable-scale-sample \
	--enable-scale-smooth \
	--disable-convert-yuv \
	--disable-small-dither-mask \
	--disable-line-dither-mask \
	--enable-no-dither-mask \
	--enable-convert-8-rgb-332 \
	--enable-convert-8-rgb-666 \
	--enable-convert-8-rgb-232 \
	--enable-convert-8-rgb-222 \
	--enable-convert-8-rgb-221 \
	--enable-convert-8-rgb-121 \
	--enable-convert-8-rgb-111 \
	--enable-convert-16-rgb-565 \
	--enable-convert-16-bgr-565 \
	--enable-convert-16-rgb-555 \
	--enable-convert-16-rgb-444 \
	--enable-convert-16-rgb-ipq \
	--enable-convert-16-rgb-rot-0 \
	--enable-convert-16-rgb-rot-180 \
	--enable-convert-16-rgb-rot-270 \
	--enable-convert-16-rgb-rot-90 \
	--enable-convert-24-rgb-888 \
	--enable-convert-24-bgr-888 \
	--enable-convert-32-rgb-8888 \
	--enable-convert-32-rgbx-8888 \
	--enable-convert-32-bgr-8888 \
	--enable-convert-32-bgrx-8888 \
	--enable-convert-32-rgb-rot-0 \
	--enable-convert-32-rgb-rot-180 \
	--enable-convert-32-rgb-rot-270 \
	--enable-convert-32-rgb-rot-90 \
	--enable-convert-8-gry-1 \
	--enable-convert-8-gry-16 \
	--enable-convert-8-grayscale-64 \
	--host=$(DEB_HOST_GNU_TYPE)

clean::
	[ ! -f Makefile ] || make distclean
	rm -f evas-*.tar.bz2 evas-*.cdbs-config_list
	[ ! -f debian/control.orig ] || mv -f debian/control.orig debian/control

binary-install/libevas-dev::
	[ -f debian/control.orig ] || cp debian/control debian/control.orig
ifeq (,$(findstring target,$(DEB_BUILD_OPTIONS)))
	sed -ie 's,Section: .*,Section: host/tools,g' $(CURDIR)/debian/control
else
	sed -ie 's,Section: host/tools,Section: core,g' $(CURDIR)/debian/control
endif
